@charset "utf-8";

/*==============================================================================
  タイトル: 検索ページスタイル
  著者    : Fumito Arakawa as Phize (http://phize.net/)  Accessibility Modifid by Masuko koeda as みるく(http://white-stage.com/)
  説明    : 検索オプションページ・検索結果ページのスタイルです。
  適用先  : search/searchform.thtml, search/searchauthors.thtml,
            search/searchresults.thtml, search/searchblock.thtml,
			search/headingcolumn.thtml, search/resultcolumn.thtml, search/resultrow.thtml,
            search/resultauthdatehits.thtml, search/resultrowenhanced.thtml,
            search/resultsummary.thtml, search/resulttitle.thtml,
            search/searchresults_heading.thtml, search/searchresults_norows.thtml,
            search/searchresults_rows.thtml
==============================================================================*/



/*--------------------------------------
  検索オプションフォーム
--------------------------------------*/

/* 入力フィールド(JavaScript無効時) */
body.js_off form#advsearchform input.text,
body.js_off form#advsearchform textarea {
  width: auto;
}



/*--------------------------------------
  検索結果
--------------------------------------*/

/* 検索結果の情報 */
dl#searchresults-found {
  margin: 0 0 1em 0.5em;
  padding: 0.3em;
}

dl#searchresults-found dt {
  display: inline;
  margin: 0;
  padding: 0;
}

dl#searchresults-found dd {
  display: inline;
  margin: 0 0 0 4px;
  padding: 0;
}

/* 検索時間 */
dl#searchresults-found dd.search_time:before {
  content: "(";
}

dl#searchresults-found dd.search_time:after {
  content: ")";
}

/* 検索結果 */
table.searchblock {
  width: 98%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

table.searchblock tr {
  margin: 0;
  padding: 0;
  background: #DAE0ED;
}

/* 奇数行 */
table.searchblock tr.resultrow1 {
  background: #D9D9D9;
}

/* 偶数行 */
table.searchblock tr.resultrow2 {
  background: #EFEFEF;
}

table.searchblock tr th {
  margin: 0;
  padding: 2px;
  text-align: left;
}

table.searchblock tr td {
  margin: 0;
  padding: 2px;
}
