@charset "utf-8";

/*==============================================================================
  タイトル: アクセス情報ページスタイル
  著者    : Fumito Arakawa as Phize (http://phize.net/)
  説明    : アクセス情報ページのスタイルです。
  適用先  : stats/itemstatistics.thtml, stats/singlestat.thtml
            stats/sitestatistics.thtml, stats/singlesummary.thtml
==============================================================================*/



/*--------------------------------------
  アクセス情報ページ
--------------------------------------*/

table.itemstatistics {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

table.itemstatistics tr th {
  margin: 0;
  padding: 2px;
  text-align: left;
}

table.itemstatistics tr td {
  margin: 0;
  padding: 2px;
}
