.mg_wrapper {
  float: left;
  width: 100%;
}

.mg_gallery_thumbnail {
  vertical-align: top;
  text-align: center;
  float:left;
  margin-left:-100%;
  padding: 10px 0;
}

.mg_gallery_info1 {
  vertical-align: top;
  margin-right:35%;
}

.mg_gallery_info2 {
  vertical-align: top;
}

.mg_gallery_subalbums {
  vertical-align: top;
  width:35%;
  float:left;
  margin-left:-35%;
}

.mg_gallery_bottom_pagination {
  vertical-align: middle;
  padding: 5px;
  text-align: center;
  clear: both;
}

.mg_album_header {
  background-color: #E6E6E6;
  color: #666666;
  font-weight: bold;
  padding: 0 5px;
  border: none;
  margin: 0px auto;
  vertical-align: middle;
}

.mg_album_title {
  display: inline-block;
/*  width: 35%;*/
  height: 2.5em;
  line-height: 2.5em;
  vertival-align: middle;
}
.mg_album_title span {
  font-weight: bold;
}
.mg_album_title img {
/*  vertical-align: middle;*/
}

.mg_search {
  text-align: right;
  float: right;
  display: inline-block;
  margin: 0;
  padding: 0;
/*  width: 35%;*/
  height:  2.5em;
  line-height: 2.5em;
  vertival-align: middle;
}

.mg_search form {
  margin: 0;
  padding: 0;
}

.mg_adminbox {
  display: inline-block;
  float: right;
  text-align: center;
  margin: 0 auto;
  margin-right: 20px;
/*  width: 30%;*/
  height: 2.5em;
  line-height: 2.5em;
  vertival-align: middle;
}

.mg_birdseed {
  vertical-align: middle;
  height: 1.5em;
  line-height: 1.5em;
  padding: 2px 5px;
  clear: both;
}

.mg_navbar {
  clear: both;
  background-color:#F5F5F5;
  color: #000000;
/*  text-align: left;*/
  height: 2em;
  line-height: 2em;
  padding: 2px 5px;
  margin-bottom: 5px;
}

.mg_album_cell {
  vertical-align: top;
  display: block;
  float: left;
  margin: 5px auto;
  text-align: center;
/*  height: 240px;*/
  min-height: 230px;
}

.mg_album_cell .mg_thumbnail {
  vertical-align:bottom;

  margin-bottom: -20px;
  margin-bottom: 10px;

}
.mg_album_cell .mg_thumbnail img {
  vertical-align: bottom;
}

.mg_album_cell .mg_title {
  font-size: 0.9em;
/*  color: blue;*/
  font-weight: bold;
}

.mg_album_cell .mg_artist,
.mg_album_cell .mg_search_album,
.mg_album_cell .mg_time,
.mg_album_cell .mg_comments,
.mg_album_cell .mg_views,
.mg_album_cell .ratingblock span {
  font-size: 0.85em;
/*  color: #999;*/
}

.mg_album_cell span.mg_strong {
  font-weight: bold;

}

#mgslideshow {
  display: inline-block;

}

.mg_right_nav,
.mg_pagination {
  display: inline-block;
  float: right;
}

.mg_right_nav .pagenav,
.mg_pagination .pagenav {
  padding: 0;
  margin: 0;
  text-align: right;
}

.mg_media_title {
  margin: 10px 0;
  text-align: center;
  min-height: 23px;
  line-height: 23px;
  font-weight: bold;
  vertical-align: middle;
}

.mg_media_detail {
  margin: 10px auto;
  text-align: center;
  width: 100%;
}

.mg_media_detail img {
  vertical-align: bottom;
}

.mg_media_desc {
  text-align: center;
  margin: 10px 0;
  min-height: 23px;
/*  line-height: 23px;*/
  vertical-align: middle;
}

.mg_info {
  width: 100%;
/*  background-color: #E7E7E7;*/
  display: inline-block;
}
.mg_info_left {
  width: 33%;
  vertical-align: top;
  padding-top: 5px;
  display: inline-box;
  float: left;
}
.mg_info .mg_info_left p {
  padding-left: 7px;
}
.mg_info_right {
  width: 33%;
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
  padding-top: 5px;
  display: inline-box;
  float: right;
}
.mg_info .mg_info_right p {
  padding-right: 7px;
}
.mg_info_center {
  width: 34%;
  text-align: center;
  vertical-align: middle;
  padding: 5px 0;
  display: inline-box;
  float: left;
}
.mg_info p {
  margin: 0;
  padding: 0;
}
