@charset "utf-8";

/*==============================================================================
  タイトル: 投稿ページスタイル
  著者    : Fumito Arakawa as Phize (http://phize.net/)
  説明    : 投稿ページのスタイルです。
  適用先  : submit/submitstory.thtml, submit/submitstory_advanced.thtml,
            submit/submitevent.thtml, submit/submitloginrequired.thtml
==============================================================================*/



/*--------------------------------------
  ログイン要求ページ
--------------------------------------*/

/* メッセージ */
p#submitloginrequired-message {
  margin: 0 0 1em 0;
  padding: 0;
}

/* リンク */
ul#submitloginrequired-navi {
  display: inline;
  margin: 0;
  padding: 0;
}

ul#submitloginrequired-navi:before {
  content: "[";
}

ul#submitloginrequired-navi:after {
  content: "]";
}

ul#submitloginrequired-navi li {
  display: inline;
  margin: 0 2px;
  padding: 0;
}

ul#submitloginrequired-navi li+li {
  margin: 0 2px 0 0;
}

ul#submitloginrequired-navi li+li:before {
  content: " | ";
}



/*--------------------------------------
  記事投稿フォーム(ノーマルエディタ)
--------------------------------------*/

/* ユーザナビゲーション */
form#submitstory dl dd ul.navi {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

form#submitstory dl dd ul.navi:before {
  content: "[";
}

form#submitstory dl dd ul.navi:after {
  content: "]";
}

form#submitstory dl dd ul.navi li {
  display: inline;
  margin: 0 2px;
  padding: 0;
}



/*--------------------------------------
  記事投稿フォーム(アドバンストエディタ)
--------------------------------------*/

/* ユーザナビゲーション */
form#submitstory_advanced dl dd ul.navi {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

form#submitstory_advanced dl dd ul.navi:before {
  content: "[";
}

form#submitstory_advanced dl dd ul.navi:after {
  content: "]";
}

form#submitstory_advanced dl dd ul.navi li {
  display: inline;
  margin: 0 2px;
  padding: 0;
}



/*--------------------------------------
  予定の編集
--------------------------------------*/
