@charset "utf-8";

/*==============================================================================
  タイトル: ブロックエディタ(管理者ページ)スタイル
  著者    : Fumito Arakawa as Phize (http://phize.net/)
  説明    : ブロックエディタ(管理者ページ)のスタイルです。
  適用先  : admin/block/blockeditor.thtml, admin/block/defaultblockeditor.thtml
==============================================================================*/



/*--------------------------------------
  ブロックエディタ  
--------------------------------------*/

form#admin-blockeditor fieldset {
  margin: 0 0 1em 0;
}

form#admin-blockeditor h3 {
  margin: 0 0 0.5em 0;
  padding: 0.5em 0 0 0;
  border-top: 1px solid #CCCCCC;
}
