@charset "utf-8";

/*==============================================================================
  タイトル: リストスタイル(管理者ページ)
  著者    : Fumito Arakawa as Phize (http://phize.net/)  Accessibility Modifid by Masuko koeda as みるく(http://white-stage.com/)
  説明    : リスト(管理者ページ)のスタイルです。
  適用先  : admin/lists/topmenu.thtml, admin/lists/topmenu_nosearch.thtml,
            admin/lists/menufields.thtml, admin/lists/list.thtml,
            admin/lists/listitem.thtml, admin/lists/header.thtml, admin/lists/field.thtml
==============================================================================*/



/*--------------------------------------
  管理画面  
--------------------------------------*/

/* 検索・絞り込み */
form#admin-topmenu {
  margin: 0 0 1em 0;
  text-align: center;
}

form#admin-topmenu ul.filter {
  display: inline;
  margin: 0 auto;
  padding: 0;
}

form#admin-topmenu ul.filter li {
  display: inline;
  margin: 0;
  padding: 0;
}

form#admin-topmenu dl {
  display: inline;
  margin: 0 auto;
  padding: 0;
}

form#admin-topmenu dl dt {
  display: inline;
  margin: 0;
  padding: 0;
}

form#admin-topmenu dl dd {
  display: inline;
  margin: 0;
  padding: 0;
}

form#admin-topmenu ul.submit {
  display: inline;
  margin: 0;
  padding: 0;
}

form#admin-topmenu ul.submit li {
  display: inline;
  margin: 0;
  padding: 0;
}

/* テーブル */
table.admin-list {
  width: 98%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

table.admin-list tr {
  margin: 0;
  padding: 0;
  background: #DAE0ED;
}

/* 偶数行 */
table.admin-list tr.admin-listitem1 {
  background: #EFEFEF;
}

/* 奇数行 */
table.admin-list tr.admin-listitem2 {
  background: #D9D9D9;
}

/* ロールオーバー */
table.admin-list tr.admin-listitem_rollover {
  background: #FFFF8F;
}

table.admin-list tr th {
  margin: 0;
  padding: 2px;
  text-align: left;
}

table.admin-list tr td {
  margin: 0;
  padding: 2px;
}

table.admin-list tr td img {
  border: none;
}

/* ナビゲーション */
ul.admin-list-navi {
  list-style-position: outside;
  list-style-type: none;
  margin: 0.5em 0 0 0;
  padding: 0;
}

ul.admin-list-navi li {
  display: inline;
}

/* メッセージ */
p.admin-list-message {
  margin: 1em 0 0 0;
  padding: 0;
  text-align: center;
}
