@charset "utf-8";

/*==============================================================================
  タイトル: 管理画面スタイル(管理者ページ)
  著者    : Fumito Arakawa as Phize (http://phize.net/) 
  説明    : 管理画面スタイル(管理者ページ)のスタイルです。
  適用先  : admin/moderation/moderation.thtml, admin/moderation/ccrow.thtml,
            admin/moderation/ccitem.thtml
==============================================================================*/



/*--------------------------------------
  管理ページ
--------------------------------------*/

ul#admin-moderation {
  list-style-position: outside;
  list-style-type: none;
  overflow: hidden;  /* 浮動要素の調整用 */
  margin: 0;
  padding: 0;
}

/* 内容生成によってfloatを解除 */
ul#admin-moderation:after {
  content: "";
  display: block;
  clear: both;
  height: 1px;
  overflow: hidden;
}

/* Win IE 6以下用(浮動要素の調整) { \*/
* html ul#admin-moderation {
  height: 1%;
  overflow: visible;
}
/* } Win IE 6以下用(浮動要素の調整) */

ul#admin-moderation li {
  float: left;
  width: 20%;
  height: 8em;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul#admin-moderation li a {
  display: block;
}
