@charset "utf-8";

/*==============================================================================
  タイトル: プラグインページスタイル(管理者ページ)
  著者    : Fumito Arakawa as Phize (http://phize.net/)  Accessibility Modifid by Masuko koeda as みるく(http://white-stage.com/)
  説明    : プラグインページ(管理者ページ)のスタイルです。
  適用先  : admin/plugins/editor.thtml,
            admin/plugins/newpluginlist.thtml, admin/plugins/newlistitem.thtml
==============================================================================*/



/*--------------------------------------
  プラグインページ
--------------------------------------*/

/* プラグインの編集 */
form#admin-editor div#admin-instructions ul {
  margin: 1em 0 0 0;
}

form#admin-editor div#admin-instructions ul:before {
  content: "";
}

form#admin-editor div#admin-instructions ul:after {
  content: "";
}

form#admin-editor div#admin-instructions ul li {
  margin-right: 13px;
}
