@charset "utf-8";

/*==============================================================================
  タイトル: ユーザエディタスタイル(管理者ページ)
  著者    : Fumito Arakawa as Phize (http://phize.net/)
  説明    : ユーザエディタ(管理者ページ)のスタイルです。
  適用先  : admin/user/edituser.thtml, admin/user/groupedit.thtml,
            admin/user/batchdelete.thmlt, admin/user/batchdelete_options.thtml
==============================================================================*/



/*--------------------------------------
  ユーザエディタ
--------------------------------------*/

/* ユーザ画像 */
form#admin-edituser dl dd.user_photo {
  float: left;
  width: 75%;
  margin: 0 0 0.5em 25%;
  padding: 0;
}

/* セキュリティグループ */
form#admin-edituser dl dd p.groupinstructions {
  margin: 0 0 0.5em 0;
}



/*--------------------------------------
  一括削除
--------------------------------------*/

form#admin-batchdelete {
  margin: 1em 0 0 0;
}

form#admin-batchdelete ul {
  margin: 0;
  padding: 0;
}

form#admin-batchdelete ul:before {
  content: "";
}

form#admin-batchdelete ul:after {
  content: "";
}

form#admin-batchdelete ul li {
  display: block;
  margin: 0;
  padding: 0;
}

form#admin-batchdelete ul.submit {
  margin: 0 0 1em 0;
  padding: 0;
}

form#admin-batchdelete dl dt input.radio {
  margin: 0 4px 0 0;
}



/*--------------------------------------
  リマンダー
--------------------------------------*/

ul#reminder-submit {   
list-style: none outside;
}

ul#reminder-submit,
ul#reminder-submit li {   
margin-left: 0;
margin-right: 0;
padding: 0;
} 