@charset "utf-8";

/*==============================================================================
  タイトル: アカウント情報ページテンプレート
  著者    : Fumito Arakawa as Phize (http://phize.net/)
  説明    : アカウント情報ページのスタイルです。
  対象    : users/profile.thtml, users/commentrow.thtml, users/storyrow.thtml,
            users/loginform.thtml, users/registrationform.thtml,
            users/getpasswordform.thtml, users/newpassword.thtml,
            users/services.thtml
==============================================================================*/



/*--------------------------------------
  ユーザログインフォーム
--------------------------------------*/

form#userloginform ul.submit {
  margin-bottom: 1em;
}

/* フォームのオプションメニュー */
form#userloginform ul.navi {
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

form#userloginform ul.navi li {
  margin: 0;
  padding: 0;
}



/*--------------------------------------
  パスワード再発行フォーム
--------------------------------------*/




/*--------------------------------------
  新パスワードの設定フォーム
--------------------------------------*/




/*--------------------------------------
  新規登録フォーム
--------------------------------------*/




/*--------------------------------------
  プロフィール
--------------------------------------*/

/* アカウント情報 */
dl#profile-userprofile {
  overflow: hidden;  /* 浮動要素の調整用 */
  margin: 0;
  padding: 0;
}

/* 内容生成によってfloatを解除 */
dl#profile-userprofile:after {
  content: "";
  display: block;
  clear: both;
  height: 1px;
  overflow: hidden;
}

/* Win IE 6用(浮動要素の調整) \*/
* html dl#profile-userprofile {
  height: 1%;
  overflow: visible;
}
/* Win IE 6用(浮動要素の調整) */

dl#profile-userprofile dt {
  float: left;
  clear: left;
  width: 25%;
  margin: 0 0 0.5em 0;
  padding: 0;
}

dl#profile-userprofile dd {
  float: left;
  width: 75%;
  margin: 0 0 0.5em 0;
  padding: 0;
}

/* 写真 */
dl#profile-userprofile dd#profile-user_photo {
  float: none;
  width: auto;
  margin-left: 25%;
  padding: 8px;
}

/* 最近の投稿 */
p.storyrow {
  margin: 0;
  padding: 0;
}

p.storyrow a {
  margin: 0 8px 0 0;
  padding: 0;
}

/* ユーザによる最近のコメント */
p.commentrow {
  margin: 0;
  padding: 0;
}

p.commentrow a {
  margin: 0 8px 0 0;
  padding: 0;
}

/* 投稿記事・コメントの総数 */
dl#profile-postingstats {
  margin: 0;
  padding: 0;
}

dl#profile-postingstats dt {
  float: left;
  clear: left;
  width: 25%;
  margin: 0 0 0.5em 0;
  padding: 0;
}

dl#profile-postingstats dd {
  float: left;
  width: 75%;
  margin: 0 0 0.5em 0;
  padding: 0;
}

/* ユーザのすべての投稿を検索するリンク */
ul#profile-all_postings_by {
  list-style-position: outside;
  list-style-type: none;
  clear: left;
  margin: 0;
  padding: 1em 0 0 0;
}

ul#profile-all_postings_by li {
  margin: 0;
  padding: 0;
}
