@charset "utf-8";

/*==============================================================================
  タイトル: トラックバックスタイル
  著者    : Fumito Arakawa as Phize (http://phize.net/)  Accessibility Modifid by Masuko koeda as みるく(http://white-stage.com/)
  説明    : トラックバック・トラックバックページのスタイルです。
  適用先  : trackback/trackback.thtml,
            trackback/trackbackcomment.thtml, trackback/formattedcomment.thtml
==============================================================================*/



/*--------------------------------------
  トラックバック
--------------------------------------*/

/* トラックバックブロック */
div#trackback {
  margin: 0;
  padding-left: 1em; /*-- 修正2007/11/04 koeda@b-lines.jp as みるく--*/
}

/* タイトル */
div#trackback h3 {
  margin: 0 0 0.5em 0;
  padding: 0;
  font-size: 100%;
  font-weight: bold;
}

/* トラックバックコンテンツ */
div#trackback div.block-trackback-content {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #E7E7E7;
}

/* トラックバックURL */
div#trackback div.block-trackback-content dl {
  margin: 0 0 1em 0;
  padding: 0;
}

div#trackback div.block-trackback-content dl dt {
  display: inline;
  margin: 0;
  padding: 0;
}

div#trackback div.block-trackback-content dl dd {
  display: inline;
  margin: 0;
  padding: 0;
}

/* 説明 */
div#trackback p.trackback_comments_no_link {
  margin: 0 0 1em 0;
  padding: 0;
}

/* 受信トラックバックブロック */
div.formattedcomment {
  margin: 0 0 1em 0;
  padding: 0;
}

/* 受信トラックバックの情報 */
div.formattedcomment ul.status {
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* 受信トラックバックのタイトル */
div.formattedcomment ul.status li.title {
  margin: 0 0 0.5em 0;
  padding: 4px;
  border: 1px solid #E7E7E7;
  background: #F7F7F7;
}

/* 受信トラックバックの受信日 */
div.formattedcomment ul.status li.trackback_date {
  margin: 0 0 0.5em 0;
  padding: 0;
}

/* 受信トラックバックの概要 */
div.formattedcomment p.trackback_excerpt_readmore {
  margin: 0 0 1em 0;
  padding: 0;
}


/* 削除ナビゲーション */
div.formattedcomment ul.navi {
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* 削除リンク */
div.formattedcomment ul.navi li.delete_option {
  display: inline;
  margin: 0;
  padding: 0;
}
